table {
    border-collapse: collapse;
    width: 100%;
  }

th {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
  }

td {
    padding: 10px;
}

tr:hover {background-color: rgb(216, 243, 255);}

.all_wrap{
    margin-top: 50px;
    display: flex;
    padding: 30px;
}

.right_side{
    display: flex;
    flex-direction: column;
    width: 52%;
    padding: 30px;
    background: #EEF5FF;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 50px;
    margin-left: 475px;
}  

.right_side_column{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.community-menu {
    position: fixed;
    width: 220px;
    height: 300px;
    color: white;
    text-align: center;
    background: #4B93FF;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0px 12% 0 2%;
}

.community-title {
    padding-top: 10px;
    font-size: 20px;
}

.community-sub {
    margin: 20px 20px 20px 20px;
    border-top: 1px solid white;
    font-size: 15px;
}

.community-create {
    margin: 60px 20px 0px 20px;
    border-top: 1px solid white;
}

.manager-menu {
    position: fixed;
    top: 45%;
    width: 220px;
    height: 300px;
    color: white;
    text-align: center;
    background: #4B93FF;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0px 12% 0 2%;
}

.manager-title {
    padding-top: 10px;
    font-size: 20px;
}

.manager-sub {
    margin: 20px 20px 20px 20px;
    border-top: 1px solid white;
    font-size: 15px;
}



