table {
    border-collapse: collapse;
    width: 100%;
  }

th {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
  }

td {
    padding: 10px;
}

tr:hover {background-color: rgb(216, 243, 255);}

.all_wrap{
    display: flex;
    padding: 30px;
}
.left_side{
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 30%;
}
.right_side{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 30px;
    background: #EEF5FF;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}  

.modal_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
#modal_close{
    outline: 0;
    border: 0;
    background-color: transparent;
}
.modal_body{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.modal_body input{
    background-color: #ddd;
    height: 30px;
    font-size: 15px;
    outline:none;
}

.modal_submit{
    float: right;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 15px;
}

.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }
  
  #modal_show{
    outline: 0;
    border: 0;
    background-color: transparent;
  }
  
  .modal_show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
  }
  
  .modal_window {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .modal_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    
    /* 모달 크기 지정 */
    width: 35%;
    height: auto;
    
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
  }
  
  .modal_show .modal_popup {
    padding: 20px;
    transform: translate(-50%, -50%);
    transition: all .5s;
  }