button {
    cursor: pointer;
    border-color: transparent;
    border-radius: 20px;
    color: #666666;
}

.account {
    width: 80%;
    height: 60px;
    background: #ffffff;
    border-color: transparent;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
}
