/*comment*/
.right_side_comment {
    background: #f4f4f4ed;
}
.comment_all_show {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.comment_one_show {
    display: flex;
}
.comment_write {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    height: 10px;
}
.comment_nickname {
    min-width: 50px;
    width: 10%;
    margin: 10px;
}
.comment_writearea {
    width: 70%;
    height: 25px;
    margin: 5px;
    font-size: 13px;
    border: 0;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    outline: none;
}
.comment_submit {
    width: 15%;
    height: 35px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    background-color: rgb(208, 208, 208);
    color: white;
}
