/*community_main_gh_common*/
/*community_main_gh_common*/
.all_wrap {
    display: flex;
    padding: 30px;
    margin-top: 50px;
}
.right_side {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 30px;
    background: #eef5ff;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 50px;
    margin-left: 350px;
}
/* 
.left_side {
    display: flex;
    flex-direction: column;
    width: 45%;
    position: fixed;
    max-width: 310px;
    min-width: 300px;
} */

.wrap_right_side {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    margin-left: 20px;
}

.right_side_column {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.text {
    height: 600px;
    margin: 20px 0px 0px 10px;
}

.file {
    width: 100%;
    height: 300px;
    background: #d3e4fe;
    border-radius: 10px;
}

.file > input {
    font-size: 20px;
    height: 40px;
    margin-left: 18%;
    border: none;
    background: #d3e4fe;

    height: 60px;
    margin: 20px 0px 0px 10px;
}

.file {
    width: 100%;
    line-height: 110px;
    height: 100px;
    background: #d3e4fe;
    border-radius: 10px;
}

.file > button {
    font-size: 20px;
    margin-left: 30px;
    border: none;
    background: #d3e4fe;
}

#article_and_comment_display {
    display: flex;
    flex-direction: column;
}

.article_null {
    margin-top: 10px;
}
