/*article*/
hr {
    border: none;
    border-top: 2px solid rgb(189, 203, 223);
    width: 100%;
}

.article_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article_write_button {
    min-width: 100px;
    width: 15%;
    height: 25px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: rgb(169, 169, 169);
    color: white;
    font-size: 13px;
}
.article_writearea {
    display: flex;
    padding: 5px;
}
.article_writearea_child {
    display: flex;
    width: 50%;
}
.article_writearea_child_right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
#article_author_area {
    display: flex;
    justify-content: space-between;
}
.article_font_color {
    color: rgb(118, 118, 118);
}
.article_wrapimage {
    display: flex;
    margin-top: 10px;
    overflow-x: scroll;
}
.article_show_image {
    padding: 5px;
    width: 200px;
    height: 200px;
}

.article_title {
    width: 1096px;
    height: 20px;
    margin-left: 5px;
    background-color: #eef5ff;
    border: none;
}

.article_content {
    width: 100%;
    resize: none;
    border: none;
    background-color: #eef5ff;
}
